    </main>

    <footer class="footer">
      <div class="container">
        <p>© 2026 Nethive Grupo ExcellenTIC - Gestión de reparto y flota.</p>
      </div>
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>
